.mute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  overflow: hidden;
  background: #fff;
  opacity: .7;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.mute-fixed {
  position: fixed !important;
  z-index: 1032 !important;
}

.mute .mute-container {
  text-align: center;
  width: 100%;
}
