<app-header text="Course"></app-header>
<app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

<div class="col bg-light pt-4" style="min-height: 80vh;">
  <h2>New Course</h2>
  <div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="model.title">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea type="textarea" class="form-control" id="description" [(ngModel)]="model.description"></textarea>
    </div>
    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="number" min="0" step="10" class="form-control col-3" id="duration" [(ngModel)]="model.duration">
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control col-3" id="date" [(ngModel)]="model.creationDate">
    </div>
    <div class="row justify-content-end">
      <button type="button" class="btn bg-secondary text-body mr-3" (click)="handleCancel()">
        Cancel
      </button>
      <button type="button" class="btn bg-success text-light" (click)="handleSave()">
        Save
      </button>
    </div>
  </div>
</div>
<app-loading-block *ngIf="loadingStatus.all"></app-loading-block>

<app-footer></app-footer>
